# common file
*.py[cod]

# common folder
__pycache__/
.*/
temps/

# project
/data/exps/*
/aquaculture/assets/cache/**
/aquaculture/assets/data/**
/aquaculture/assets/models/**

# exceptions
!.keep
!.gitignore